[user]
	name = Adam Cmiel
	email = {{ git_email }}
	signingkey = {{ git_signingkey }}
[commit]
	gpgsign = true
[gpg]
	program = gpg
[pager]
	branch = false
[pull]
	rebase = true
[alias]
	mr = !sh -c 'git fetch -f upstream merge-requests/$1/head:$1' -
	pr = !sh -c 'git fetch -f upstream pull/$1/head:$1' -
