.env

git/.gitconfig

zsh/.config/zsh/.*
!zsh/.config/zsh/.zshrc
!zsh/.config/zsh/.zshenv

packer_compiled.lua
nvim/.config/nvim/pack/packer
!nvim/.config/nvim/pack/packer/start/packer.nvim

ghc/.ghc/ghci_history
