[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	shallow = true
[submodule "zsh/.config/zsh/plugins/fast-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
	shallow = true
[submodule "zsh/.config/zsh/plugins/powerlevel10k"]
	path = zsh/.config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
[submodule "zsh/.config/zsh/plugins/fzf-tab"]
	path = zsh/.config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
	shallow = true
[submodule "nvim/.config/nvim/pack/packer/start/packer.nvim"]
	path = nvim/.config/nvim/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim.git
	shallow = true
