[submodule "nvim/.local/share/nvim/site/pack/themes/opt/palenight.vim"]
	path = nvim/.local/share/nvim/site/pack/themes/opt/palenight.vim
	url = https://github.com/drewtempelmeyer/palenight.vim.git
[submodule "nvim/.local/share/nvim/site/pack/themes/opt/gruvbox"]
	path = nvim/.local/share/nvim/site/pack/themes/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "nvim/.local/share/nvim/site/pack/themes/opt/molokai"]
	path = nvim/.local/share/nvim/site/pack/themes/opt/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "nvim/.local/share/nvim/site/pack/themes/opt/material.vim"]
	path = nvim/.local/share/nvim/site/pack/themes/opt/material.vim
	url = https://github.com/kaicataldo/material.vim.git
[submodule "nvim/.local/share/nvim/site/pack/languages/start/Vim-Jinja2-Syntax"]
	path = nvim/.local/share/nvim/site/pack/languages/start/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "nvim/.local/share/nvim/site/pack/languages/start/python-syntax"]
	path = nvim/.local/share/nvim/site/pack/languages/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "nvim/.local/share/nvim/site/pack/tpope/start/vim-surround"]
	path = nvim/.local/share/nvim/site/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nvim/.local/share/nvim/site/pack/tpope/start/vim-repeat"]
	path = nvim/.local/share/nvim/site/pack/tpope/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "nvim/.local/share/nvim/site/pack/statusline/start/lightline.vim"]
	path = nvim/.local/share/nvim/site/pack/statusline/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "nvim/.local/share/nvim/site/pack/themes/opt/onedark.vim"]
	path = nvim/.local/share/nvim/site/pack/themes/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "nvim/.local/share/nvim/site/pack/languages/start/vim-toml"]
	path = nvim/.local/share/nvim/site/pack/languages/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "nvim/.local/share/nvim/site/pack/languages/start/vim-racket"]
	path = nvim/.local/share/nvim/site/pack/languages/start/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "nvim/.local/share/nvim/site/pack/languages/start/haskell-vim"]
	path = nvim/.local/share/nvim/site/pack/languages/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "nvim/.local/share/nvim/site/pack/tpope/start/vim-commentary"]
	path = nvim/.local/share/nvim/site/pack/tpope/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "nvim/.local/share/nvim/site/pack/lsp/start/nvim-lspconfig"]
	path = nvim/.local/share/nvim/site/pack/lsp/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.config/zsh/plugins/fast-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
