[Unit]
Description=Regenerate templates

[Service]
Type=oneshot
WorkingDirectory=%h/dotfiles
ExecStart=/usr/bin/make templates
ExecStartPost=/usr/bin/notify-send --transient "Dotfile watcher" "Generated successfully 🎉"
ExecStopPost=/bin/bash -c 'if [[ "$SERVICE_RESULT" != success ]]; then notify-send --transient "Dotfile watcher" "Failed to generate 😢"; fi'
